{% extends 'base.html' %}


{% block title %}
About ZimTechHub
{% endblock %}



{% block content %}

<div class="min-h-screen bg-slate-50 dark:bg-slate-950">


    <div class="max-w-7xl mx-auto px-6 py-16">


        {% include "about/components/hero.html" %}


        {% include "about/components/mission.html" %}


        {% include "about/components/features.html" %}


        {% include "about/components/community.html" %}


        {% include "about/components/vision.html" %}



    </div>


</div>


{% endblock %}