<div class="bg-white dark:bg-slate-900 rounded-3xl 
border dark:border-slate-800 p-6">


<h2 class="text-xl font-bold dark:text-white mb-6">

🛒 Recent Orders

</h2>




<div class="space-y-5">


<div class="flex justify-between">


<div>

<h3 class="font-semibold dark:text-white">

Flutter UI Kit

</h3>

<p class="text-sm text-slate-500">

Purchased by John

</p>


</div>


<span class="text-green-600 font-bold">

+$25

</span>


</div>





<div class="flex justify-between">


<div>

<h3 class="font-semibold dark:text-white">

Django POS System

</h3>


<p class="text-sm text-slate-500">

Purchased yesterday

</p>


</div>


<span class="text-green-600 font-bold">

+$80

</span>


</div>


</div>


</div>