<div class="bg-white dark:bg-slate-900 
rounded-3xl border dark:border-slate-800 p-6">


<div class="flex justify-between">


<h2 class="text-xl font-bold dark:text-white">

🎯 Profile Completion

</h2>


<span class="font-bold text-blue-600">

85%

</span>


</div>




<div class="mt-5 h-3 bg-slate-200 
dark:bg-slate-700 rounded-full">


<div class="h-full bg-blue-600 
rounded-full"
style="width:85%">
</div>


</div>





<div class="mt-6 space-y-4">


<div class="flex justify-between">


<span>
✓ Profile Picture
</span>


<span class="text-green-500">
Done
</span>


</div>



<div class="flex justify-between">


<span>
✓ Add Skills
</span>


<span class="text-green-500">
Done
</span>


</div>




<div class="flex justify-between">


<span>
○ Add Portfolio
</span>


<span class="text-blue-600">
Complete
</span>


</div>


</div>



</div>