<div class="relative overflow-hidden rounded-3xl 
bg-gradient-to-r from-blue-600 via-indigo-600 to-purple-700 
p-8 lg:p-10 shadow-xl">


<div class="absolute -right-20 -top-20 
w-80 h-80 bg-white/10 rounded-full">
</div>



<div class="relative flex flex-col lg:flex-row 
justify-between gap-8">



<div>


<p class="uppercase text-blue-200 
tracking-widest text-sm font-bold">

ZimTechHub Developer Dashboard

</p>



<h1 class="text-4xl lg:text-5xl 
font-black text-white mt-3">


Welcome back,
{{request.user.first_name|default:request.user.username}}
👋


</h1>



<p class="text-blue-100 mt-4 text-lg max-w-xl">


Build your reputation, showcase your work,
connect with developers and discover opportunities.


</p>




<div class="flex gap-4 mt-8">


<a href="#"
class="bg-white text-blue-700 px-6 py-3 
rounded-2xl font-bold hover:scale-105 transition">


Create Project

</a>



<a href="#"
class="bg-white/20 text-white 
px-6 py-3 rounded-2xl 
border border-white/30">


Complete Profile

</a>



</div>


</div>






<!-- Profile Completion -->


<div class="bg-white/10 backdrop-blur-xl
rounded-3xl p-6 border border-white/20 
lg:w-80">


<div class="flex justify-between text-white">


<span>
Profile Completion
</span>


<span>
82%
</span>


</div>



<div class="h-3 bg-white/20 rounded-full mt-4">


<div class="h-full bg-white rounded-full"
style="width:82%">
</div>


</div>



<p class="text-blue-100 text-sm mt-4">


Complete your profile to appear higher
in developer searches.


</p>


</div>



</div>


</div>